

<div class="container my-5" ng-controller="checkoutCtrl">
	<a type="button" class="btn btn-link my-2" href="cart"> <i class="fa fa-arrow-left"></i> Cart</a>

	<h3>Checkout Studio Bookings</h3>
  <p class="alert alert-warning"> This collection of information is not kept nor stored at this time but is only for demonstration purposes. Please Contact us if you wish to book via contact button above to collect this information. To continue will product a confirmation page and pdf to download only. </p>
  <main>
    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">{{ cartItems.length}}</span>
        </h4>
        <ul class="list-group mb-3">
         <li *ngFor="let item of cartItems" class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">{{ item.studioName }}</h6>
              <small class="text-muted">{{ item.slot }} ({{ item.price | currency }})</small>
            </div>
            <span class="text-muted">{{ item.price | currency }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
          <li *ngIf="promoCode === 'EXAMPLECODE'" class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>{{ promoCode }}</small>
              </div>
              <span class="text-success">−{{ promoDiscount | currency }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (CAD)</span>
            <strong>{{ total | currency}}</strong>
          </li>
        </ul>

        <form class="card p-2" (ngSubmit)="applyPromoCode()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" [(ngModel)]="promoCode" name="promoCode">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </form>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate="" (submit)="validateAndSubmit($event)">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input (change)="onFormChange()"  type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input  (change)="onFormChange()" type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <div class="input-group has-validation">
                <input type="text" class="form-control" id="username"  hidden placeholder="Username" >
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email*</label>
              <input (change)="onFormChange()" type="email" class="form-control" id="email" placeholder="you@example.com" required >
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <select id="country" class="form-select" required (change)="onCountryChange($event)">
                <option value="">Choose...</option>
                <option *ngFor="let c of countries">{{ c }}</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">State/Province</label>
              <select id="state" class="form-select" required>
                <option value="">Choose...</option>
                <option *ngFor="let s of states">{{ s }}</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state or Province.
              </div>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip / Postal Code</label>
              <input type="text" class="form-control" id="zip" placeholder="" required="">
              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>

          <!-- <hr class="my-4"> -->

         <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address">
            <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info">
            <label class="form-check-label" for="save-info">Save this information for next time</label>
          </div>--> 

          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>
          <p class="alert alert-warning"> This collection of information is not kept in any way but is only for demonstration purposes. Please Contact us if you wish to book via contact button above to allow us to collect this information. Proceeding with only offer a confirmation message and pdf download for demo purposes only. </p>
          <div class="my-3">
            <div class="form-check">
              <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>

          <div class="row gy-3">
            <div class="col-12">
              <label for="cc-name" class="form-label">Name on card</label>
              <input type="text" class="form-control" id="cc-name" placeholder="" required="">
              <small class="text-muted">Full name as displayed on card</small>
              <div class="invalid-feedback">
                Name on card is required
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label">Credit card number</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" required="">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

				<div class="col-md-3">
					<label for="cc-cvv" class="form-label">CVV</label>
					<input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
					<div class="invalid-feedback">
						Security code required
					</div>
				</div>
            </div>

          	<hr class="my-4">

          <div class="">
            <button type="submit" class="btn btn-success m-2">Book it!</button>			
          </div>
        </form>
      </div>
    </div>
  </main>

</div>
