
<!-- Login Page start -->
<div class="container mt-5" style="max-width: 500px;">
  <div id="signInContainer" class="container">
    <h1 class="pt-5 pb-5">
    Studio Booking Reset Password 
  </h1>
    <div class="alignCenter form-horizontal">
    <h2 class="h3 mb-3 fw-normal">Please enter your email:</h2>
     <app-spinner *ngIf="loading"></app-spinner>
    <div *ngIf="isSuccess; else errorBlock" class="text-success">
        <p>{{ message }}</p>
     </div>
    <ng-template #errorBlock>
        <p class="text-danger">{{ message }}</p>
    </ng-template>
    
    <form name="resetpassForm" #resetpassForm="ngForm" (ngSubmit)="onSubmit(resetpassForm)" class="form-group">
      <input name="suemail" [(ngModel)]="user.email" class="form-control my-3" required placeholder="Email" />
      <div *ngIf="resetpassForm.submitted && resetpassForm.controls['suemail']?.invalid">The email is required.</div>
      <div class="">
          <button type="submit" class="btn btn-danger m-2">Reset Password</button>
      </div>
    </form>
    </div>
  </div>
</div>
