
 <div class="container my-5"  ng-controller="cartCtrl">
   <a href="" class="btn btn-link"> <i class="fa fa-arrow-left"></i> Back to Studios</a>
    <h2 class="my-5" >Studio Booking Cart</h2>

    <div class="table-responsive">
    <table class="table table-hover table-bordered align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">Studio</th>
          <th scope="col">Date & Time</th>
          <th scope="col" class="text-end">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems; let i = index">
            <td><button (click)="remove(i)">Remove</button> {{ item.studio }}  - {{ item.title }}</td>
            <td>{{ item.date | date:'medium' }} {{ item.date }} at {{ item.slot }}</td>
            <td class="text-end">{{ item.price | currency }} </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="2" class="text-end">Total</th>
          <th class="text-end">{{ getTotal() | currency }}</th>
        </tr>
      </tfoot>
    </table>
    <div class="text-center">
       <button 
          class="btn btn-light"
          [routerLink]="['/checkout']"
          [disabled]="cartItems.length === 0">
          <i 
            class="fa-solid" 
            [ngClass]="cartItems.length === 0 ? 'fa-ban' : 'fa-check'">
          </i>
          Checkout
        </button>
    </div>
  </div><!-- table responsive -->

</div>
<!-- /.container -->
<!--    
<div class="panel panel-primary" ng-repeat="d in bookingCart">
    <div ng-if="d.studio != ''">
        <div class="panel-body">
            <div class="container" style="width:100%;">			        	
                <div class="row">
                        <h3 class="panel-title">{{ studio name }} </h3>
                    <div class="col "> {{ start }}</div> 
                    <div class="col ">  end </div>
                    <div class="col"> price </div> 
                    <div class="col"> Reserved </div>
                </div>
            </div>	
        </div> 
    </div> 
                
</div> --> <!-- /.ng-if left -->
