<div class="container mt-5" style="max-width: 500px;">
    <h1 class="pt-5 pb-5"> Email Verification </h1>
        <h6 class="mb-4">We just need to verify the account.</h6>
        <div class="verify-wrapper">
            <app-spinner *ngIf="loading"> <p>Verifying your email, please wait...</p></app-spinner>
             <div *ngIf="isSuccess; else errorBlock" class="text-success">
                <p>{{ message }}</p>
                <a class="btn btn-primary mt-3" routerLink="/signin">Log in</a>
            </div>

            <ng-template #errorBlock>
                <p class="text-danger">{{ message }}</p>
            </ng-template>
        </div>
</div>