<h2>Create a Booking</h2>

<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
  <label>
    Event Title:
    <input type="text" formControlName="title" />
  </label>
  <br />

  <label>
    Date:
    <input type="date" formControlName="date" />
  </label>
  <br />

  <h4>Available Time Slots:</h4>
  <div *ngFor="let slot of availableSlots()">
    <button
      type="button"
      class="btn btn-outline-primary mb-2"
      [class.active]="isSlotSelected(slot.start)()"
      [disabled]="!slot.available"
      (click)="selectSlot(slot.start)">
      {{ slot.start }} – {{ slot.end }} ({{ slot.price }})
    </button>
  </div>


  <input type="hidden" formControlName="slot" />

  <br />
  <button type="submit" [disabled]="bookingForm.invalid">Book Now</button>
</form>
