
<div class="container dashboard mt-5">
  <a href="" class="btn btn-link"><i class="fa fa-arrow-left"></i> Back to Studios</a>
  <h2 class="mb-4">{{studioName}} Studio Calendar (Studio ID: {{ studioId }})</h2>

  <full-calendar
    [options]="calendarOptions" >
  </full-calendar>
</div>
  <!-- Slide-in Booking Form -->
  <div class="sidebar-form" [class.show]="showForm">
    <app-booking-form 
      [selectedDate]="selectedDate" 
      [eventData]="selectedEvent" 
      [studioId]="studioId"
      [studioPrice]="studioPrice"
      [studioName]="studioName"
      (bookingSubmitted)="handleBooking($event)"
      (formClosed)="closeForm()">
    </app-booking-form>
  </div>